<div class="alert-table">
    <!-- Title -->
    <div class="title">
        <h4 class="font-01 font-size-05 font-weight-600 text-uppercase">
            <span class="font-weight-300">Latest</span> Alerts</h4>
    </div>
    <!-- Alert Table : starts -->
    <div class="table">
        <!-- Table Head Row : starts -->
        <div class="table-row table-head-row">
            <div class="table-cell">
                <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">ID</h4>
            </div>
            <div class="table-cell">
                <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Alert Name</h4>
            </div>
            <div class="table-cell">
                <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Facility Name</h4>
            </div>
            <div class="table-cell">
                <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Alert Status</h4>
            </div>
            <div class="table-cell">
                <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Latest Update</h4>
            </div>
        </div>
        <!-- Table Head Row : ends -->
        <!-- Table Content Row One : starts -->
        <a [routerLink]="'../'+[alert.AlertType=='Crawl'?'Client/AlertC/'+alert.sensor[0].client.id+'/'+alert.sensor[0].facility.id+'/'+alert.id:'Client/AlertF/'+alert.sensor[0].client.id+'/'+alert.sensor[0].facility.id+'/'+alert.id]"
            class="table-row table-content-row" *ngFor="let alert of alerts">
            <div class="table-cell white-bg">
                <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{alert.sensorId}}</p>
            </div>
            <div class="table-cell white-bg">
                <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{alert.sensor[0].type}}</p>
            </div>
            <div class="table-cell white-bg">
                <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{alert.facilityName}}</p>
                <!-- Hover Block : starts -->
                <div class="hover-block-wrap">
                    <div class="alert-table-hover-block white-bg clearfix">
                        <div class="left-block">
                            <div class="content">
                                <div class="icon-wrap red-bg">
                                    <img class="svg-convert rat" [src]="alert.sensor[0].customImage"  alt="">
                                </div>
                                <div class="trap-name">
                                    <h5 class="font-01 font-size-05 font-weight-600 light-black text-uppercase">{{alert.notes}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="right-block">
                            <div class="pos-center-wrap">
                                <div class="pos-center">
                                    <div class="sensor-alert-id">
                                        <h5 class="text-uppercase font-01 light-blue font-weight-700">#{{alert.sensorId}}</h5>
                                    </div>
                                    <div class="sensor-alert-message">
                                        <p class="light-black font-01 font-size-03 font-weight-400">
                                            {{alert.notes}}
                                        </p>
                                    </div>
                                    <div class="facility-details">
                                        <h5 class="title light-grey font-size-02 font-weight-400 font-01 font-01">Sensor Name</h5>
                                        <h4 class="name light-black text-uppercase font-01">{{alert.SensorName}}</h4>
                                    </div>
                                    <div class="zone-details">
                                        <h5 class="title light-grey font-size-02 font-weight-400 font-01 font-01">Zone Name</h5>
                                        <h4 class="name light-black text-uppercase font-01 font-size-05">{{alert.ZoneName}}</h4>
                                    </div>
                                    <div class="fieldtech-details">
                                        <h5 class="title light-grey font-size-02 font-weight-400 font-01">Assigned Fieldtech</h5>
                                        <h4 class="name light-black text-uppercase font-size-05 font-weight-400 font-01">{{alert.FiledTech}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hover Block : ends -->
            </div>
            <div class="table-cell white-bg">
                <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{alert.activity}}</p>
            </div>
            <div class="table-cell white-bg">
                <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{alert.lastUpdated}}</p>
            </div>
        </a>
        <!-- Table Content Row One : ends -->
    </div>
    <!-- Alert Table : ends -->
</div>