
<section class="contain-fluid single-customer"  *ngFor="let client of clients">
  <div class="row no-gutters">
    <div class="col-md-7">

      <!-- Content Pane Left : starts -->
      <section class="content-pane-left add-scroll">
        <div class="inner">
          <div class="row">
            <div class="offset-md-1"></div>
            <div class="col-md-10">

              <!-- Block Title -->
              <div class="block-title">
                <h4 class="font-01 font-weight-600 text-uppercase"><span class="font-weight-300"></span>{{client.ClientName}}</h4>
              </div>

              <!-- Button -->
              <div class="switch-user-button">
                <div class="button has-dropdown round-button switch-button hover-blue white-bg">
                  <a href="#" class="font-02 font-size-01 light-black font-weight-400">Switch Client<span class="direction-icon fa fa-map-marker"></span></a>
                  <ul class="dropdown">
                    <li><a href="#" class="font-size-02 font-01">Nestle</a></li>
                    <li><a href="#" class="font-size-02 font-01">Hilton</a></li>
                    <li><a href="#" class="font-size-02 font-01">Yoshinoya</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Map Block : starts -->
          <div class="map-block">
            <div class="row">
              <div class="offset-md-1"></div>
              <div class="col-md-10">
                <div class="map" id="single-customer-map"></div>
              </div>
            </div>
          </div>
          <!-- Map Block : ends -->
          <!-- Info Bubble Block : starts -->
          <div class="info-bubble-block">
            <div class="row">
              <div class="offset-md-1"></div>

              <!-- Bubble One -->
              <div class="col-md-2">
                <div class="info-bubble info-bubble-one text-right">
                  <div class="info-bubble-image">
                    <img class="svg-convert" src="assets/images/info-bubble/icon-01.svg" alt="info-bubble">
                    <div class="count-to-wrap">
                      <span class="count-to font-weight-400 font-01" data-from="0" data-to="5"></span>
                    </div>
                  </div>
                  <div class="info-bubble-text">
                    <h5 class="font-02 font-weight-400 font-size-02 light-black">Active Alerts</h5>
                  </div>

                </div>
              </div>

              <!-- Bubble Two -->
              <div class="col-md-2">
                <div class="info-bubble info-bubble-two text-right">
                  <div class="info-bubble-image">
                    <img class="svg-convert" src="assets/images/info-bubble/icon-02.svg" alt="info-bubble">
                    <div class="count-to-wrap">
                      <p><span class="count-to font-weight-400 font-01" data-from="0" data-to="-87"></span>%</p>
                    </div>
                  </div>
                  <div class="info-bubble-text">
                    <h5 class="font-02 font-weight-400 font-size-02 light-black">Change in pest activity - last 30 days</h5>
                  </div>
                </div>
              </div>

              <!-- Bubble Three -->
              <div class="col-md-2">
                <div class="info-bubble info-bubble-three text-right">
                  <div class="info-bubble-image">
                    <img class="svg-convert" src="assets/images/info-bubble/icon-03.svg" alt="info-bubble">
                    <div class="count-to-wrap">
                      <p><span class="count-to font-weight-400 font-01" data-from="0" data-to="40"></span></p>
                    </div>
                  </div>
                  <div class="info-bubble-text">
                    <h5 class="font-02 font-weight-400 font-size-02 light-black">Total Events closed over last 30 days</h5>
                  </div>
                </div>
              </div>

              <!-- Bubble Four -->
              <div class="col-md-2">
                <div class="info-bubble info-bubble-four text-right">
                  <div class="info-bubble-image">
                    <img class="svg-convert" src="assets/images/info-bubble/icon-04.svg" alt="info-bubble">
                    <div class="count-to-wrap">
                      <p><span class="count-to font-weight-400 font-01" data-from="0" data-to="77"></span>%</p>
                    </div>
                  </div>
                  <div class="info-bubble-text">
                    <h5 class="font-02 font-weight-400 font-size-02 light-black">Customer satisfation</h5>
                  </div>
                </div>
              </div>

              <!-- Bubble Five -->
              <div class="col-md-2">
                <div class="info-bubble info-bubble-five text-right">
                  <div class="info-bubble-image">
                    <img class="svg-convert" src="assets/images/info-bubble/icon-05.svg" alt="info-bubble">
                    <div class="count-to-wrap">
                      <p><span class="count-to font-weight-400 font-01" data-from="0" data-to="5"></span></p>
                    </div>
                  </div>
                  <div class="info-bubble-text">
                    <h5 class="font-02 font-weight-400 font-size-02 light-black">Properties</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Info Bubble Block : ends -->

        

          <!-- Alert Table Block : starts -->
          <div class="alert-table-block">
                            <div class="row">
              <div class="offset-md-1"></div>
              <div class="col-md-10">
                                    <div class="alert-table">

                  <!-- Title -->
                                        <div class="title">
                    <h4 class="font-01 font-size-05 font-weight-600 text-uppercase"><span class="font-weight-300">Latest</span> Alerts</h4>
                                        </div>

                  <!-- Alert Table : starts -->
                  <div class="table">

                    <!-- Table Head Row : starts -->
                      <div class="table-row table-head-row">
                          <div class="table-cell">
                            <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">ID</h4>
                          </div>
                          <div class="table-cell">
                            <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Alert Name</h4>
                          </div>
                          <div class="table-cell">
                            <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Facility Name</h4>
                          </div>
                      <div class="table-cell">
                            <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Alert Status</h4>
                          </div>
                      <div class="table-cell">
                            <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Latest Update</h4>
                          </div>
                      </div>
                    <!-- Table Head Row : ends -->

                    <!-- Table Content Row One : starts -->
                    <a [routerLink]="'../../'+[alert.AlertType=='Crawl'?'Client/AlertC/'+alert.ClientId+'/'+alert.FacilityId+'/'+alert.Id:'Client/AlertF/'+alert.ClientId+'/'+alert.FacilityId+'/'+alert.Id]" class="table-row table-content-row" *ngFor="let alert of alerts">
                      <div class="table-cell white-bg">
                          <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{alert.Id}}</p>
                      </div>
                      <div class="table-cell white-bg">
                          <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{alert.AlertName}}</p>
                      </div>
                      <div class="table-cell white-bg">
                          <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{alert.FacilityName}}</p>
                          <!-- Hover Block : starts -->
                          <div class="hover-block-wrap">
                              <div class="alert-table-hover-block white-bg clearfix">
                                  <div class="left-block">
                                      <div class="content">
                                          <div class="icon-wrap red-bg">
                                              <img class="svg-convert rat" [src]="alert.ImgUrl" alt="">
                                          </div>
                                          <div class="trap-name">
                                              <h5 class="font-01 font-size-05 font-weight-600 light-black text-uppercase">{{alert.TrapName}}</h5>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="right-block">
                                      <div class="pos-center-wrap">
                                          <div class="pos-center">
                                              <div class="sensor-alert-id">
                                                  <h5 class="text-uppercase font-01 light-blue font-weight-700">#{{alert.Id}}</h5>
                                              </div>
                                              <div class="sensor-alert-message">
                                                  <p class="light-black font-01 font-size-03 font-weight-400">
                                                      {{alert.Description}}
                                                  </p>
                                              </div>
                                              <div class="facility-details">
                                                  <h5 class="title light-grey font-size-02 font-weight-400 font-01 font-01">Sensor Name</h5>
                                                  <h4 class="name light-black text-uppercase font-01">{{alert.SensorName}}</h4>
                                              </div>
                                              <div class="zone-details">
                                                  <h5 class="title light-grey font-size-02 font-weight-400 font-01 font-01">Zone Name</h5>
                                                  <h4 class="name light-black text-uppercase font-01 font-size-05">{{alert.ZoneName}}</h4>
                                              </div>
                                              <div class="fieldtech-details">
                                                  <h5 class="title light-grey font-size-02 font-weight-400 font-01">Assigned Fieldtech</h5>
                                                  <h4 class="name light-black text-uppercase font-size-05 font-weight-400 font-01">{{alert.FiledTech}}</h4>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- Hover Block : ends -->
                      </div>
                      <div class="table-cell white-bg">
                          <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{alert.AlertStatus}}</p>
                      </div>
                      <div class="table-cell white-bg">
                          <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{alert.LatestUpdate}}</p>
                      </div>
                  </a>

                  </div>
                  <!-- Alert Table : ends -->

                </div>
                                </div>
                            </div>
                        </div>
          <!-- Alert Table Block : ends -->

        </div>
      </section>
      <!-- Content Pane Left : ends -->

    </div>
    <div class="col-md-5">

      <!-- Content Pane Right : starts -->
      <section class="content-pane-right white-bg add-scroll">
        <div class="inner">

          <!-- Client Details : starts -->
          <div class="client-details text-center">
            <div class="row">
              <div class="offset-md-3"></div>
              <div class="col-md-6">
                <div class="client-logo">
                  <img [src]="client.ClientLogoUrl" alt="">
                </div>
                <div class="client-location text-right">
                  <h5 class="font-size-06 font-01 light-black font-weight-400"></h5>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="offset-md-2"></div>
              <div class="col-md-8">
                <div class="client-phone-numbers">
                  <a class="black font-01 font-weight-600 font-size-05" href="tel:+02 555 35525">+02 555 35525</a>
                  <span class="black font-01 font-weight-400 font-size-05">|</span>
                  <a class="black font-01 font-weight-600 font-size-05" href="tel:544789 5050">544789 5050</a>
                </div>
                <div class="client-email">
                  <a class="light-black font-01 font-weight-400 font-size-04" href="">{{client.ClientEmail}}</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Client Details : ends -->

          <!-- Client Extra Options : starts -->
          <div class="extra-options-trigger-wrap text-center">
            <a href="#" class="mail extra-options-trigger light-black white-bg">
              <div class="pos-center-wrap">
                <div class="pos-center">
                  <span class="icon light-black fa fa-square-o"></span>
                </div>
              </div>
            </a>
            <a href="#" class="user extra-options-trigger light-black white-bg">
              <div class="pos-center-wrap">
                <div class="pos-center">
                  <span class="icon light-black fa fa-map-marker"></span>
                </div>
              </div>
            </a>
            <a href="#" class="settings extra-options-trigger light-black white-bg active">
              <div class="pos-center-wrap">
                <div class="pos-center">
                  <span class="icon light-black fa fa-cog"></span>
                </div>
              </div>
            </a>
            <div class="seperator-line grey-bg"></div>
          </div>
          <!-- Client Extra Options : ends -->

         <!-- Client Facilities Block : starts -->
								<div class="client-facilities-block">
									<div class="row">
										<div class="col-md-12">
											<div class="title text-left">
												<h4 class="light-black text-uppercase font-size-05 font-01 font-weight-600"><span class="font-weight-300">Client</span> Facilities</h4>
											</div>

											<!-- Facility Carousel : starts  theme-carousel -->
											<div id="theme-carousel" data-animatein="fadeIn" data-animateout="slideOutDown" data-autoplay="false" data-autoplaytimeout="3500" data-autoplayhoverpause="false" data-autoheight="false" data-center="false" data-loop="true" data-itemsdefault="2" data-margin="13" data-stagepadding="0" data-startposition="0" data-slideby="1" data-nav="false" data-dots="true" data-touchdrag="true" data-mousedrag="true" data-xsnumber="1" data-smnumber="1" data-mdnumber="2" >
												<div>
													<a [routerLink]="['./'+facility.FacilityName]" class="first-block item client-facilitiy-link text-center" style="width:100%;display:inline-block;"  *ngFor="let facility of client.Facilities">
													  	<span class="id-one light-black font-01 font-weight-600 font-size-05">{{facility.FacilityId}}</span>
														<span class="location light-black font-01 font-weight-600 font-size-05"></span>
														<span class="id-two light-black font-01 font-weight-600 font-size-06 text-uppercase">{{facility.FacilityName}}</span>
													</a>
											</div>
											</div>
											<!-- Facility Carousel : ends -->

										</div>
									</div>
								</div>
								<!-- Client Facilities Block : ends -->


          <!-- Client Chart One : starts -->
          <div class="chart-block-wrap space-top">
            <div class="title">
              <h4 class="font-01 font-size-05 font-weight-600 text-uppercase"><span class="font-weight-300">Pest activity last 30 days - </span>Top 10 facilities</h4>
            </div>
            <div class="switch-facility-button" style="float:right;border: 1px solid #979797;border-radius: 20px;">
                <div class="button round-button has-dropdown hover-blue switch-button white-bg">
                  <a href="#" class="font-02 font-size-01 light-black font-weight-400">Options<span class="direction-icon "></span></a>
                  <ul class="dropdown">
                    <li><a href="#" class="font-size-02 font-01">Expand</a></li>
                    <li><a href="#" class="font-size-02 font-01">Date Range</a></li>
                  </ul>
                </div>
              </div>
            <div id="pest-vs-facility-client-view" class="chart-block"></div>
          </div>
          <!-- Client Chart One : ends -->

          <!-- Client Chart Two : starts-->
          <div class="chart-block-wrap space-top">
            <div class="title">
              <h4 class="font-01 font-size-05 font-weight-600 text-uppercase"><span class="font-weight-300">Pest activity </span>over the last 12 months</h4>
            </div>
            <div class="switch-facility-button" style="float:right;border: 1px solid #979797;border-radius: 20px;">
                <div class="button round-button has-dropdown hover-blue switch-button white-bg">
                  <a href="#" class="font-02 font-size-01 light-black font-weight-400">Options<span class="direction-icon "></span></a>
                  <ul class="dropdown">
                    <li><a href="#" class="font-size-02 font-01">Expand</a></li>
                    <li><a href="#" class="font-size-02 font-01">Date Range</a></li>
                  </ul>
                </div>
              </div>
            <div id="pest-vs-time-client-view"  class="chart-block"></div>
          </div>
          <!-- Client Chart Two : ends -->
        </div>
      </section>
      <!-- Content Pane Right : ends -->

    </div>
  </div>
</section>