<div class="alert-table-block">
    <div class="alert-table">
        <!-- Title -->
        <div class="title" style="float:left">
            <h4 class="font-01 font-size-05 font-weight-600 text-uppercase">
                <span class="font-weight-300">All </span>Sensor</h4>
        </div>
        <div style="float:right">
        </div>
        <!-- Alert Table : starts -->
        <div class="table">
            <!-- Table Head Row : starts -->
            <div class="table-row table-head-row">
                <div class="table-cell">
                    <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">ID</h4>
                </div>
                <div class="table-cell">
                    <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Sensor Type</h4>
                </div>
                <div class="table-cell">
                    <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Client Name</h4>
                </div>
                <div class="table-cell">
                    <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Facility Name</h4>
                </div>
                <div class="table-cell">
                    <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Zone Name</h4>
                </div>
                <div class="table-cell">
                    <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Gateway Name</h4>
                </div>
                <div class="table-cell">
                    <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Actions</h4>
                </div>
            </div>
            <!-- Table Head Row : ends -->
            <!-- Table Content Row One : starts -->
            <a class="table-row table-content-row" *ngFor="let m of model">
                <div class="table-cell white-bg">
                    <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{m.sensorId}}</p>
                </div>
                <div class="table-cell white-bg">
                    <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{m.type}}</p>
                </div>
                <div class="table-cell white-bg">
                    <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{m.client.name}}</p>
                </div>
                <div class="table-cell white-bg">
                    <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{m.facility.name}}</p>
                </div>
                <div class="table-cell white-bg">
                    <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{m.zone.name}}</p>
                </div>
                <div class="table-cell white-bg">
                    <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{m.gateway.name}}</p>
                </div>
                <div class="table-cell white-bg">
                    <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">
                        <button class="btn btn-warning" (click)=deleteSensor(m.id)>Delete</button>
                    </p>
                </div>
            </a>
            <!-- Table Content Row One : ends -->
        </div>
        <!-- Alert Table : ends -->

    </div>
</div>
<div class="alert-table-block">
    <div class="alert-table">
        <!-- Title -->
        <div class="title" style="float:left">
            <h4 class="font-01 font-size-05 font-weight-600 text-uppercase">
                <span class="font-weight-300">All New</span> Sensors</h4>
        </div>

        <!-- Alert Table : starts -->
        <div class="table">
            <!-- Table Head Row : starts -->
            <div class="table-row table-head-row">
                <div class="table-cell">
                    <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">ID</h4>
                </div>
                <div class="table-cell">
                    <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Actions</h4>
                </div>
            </div>
            <!-- Table Head Row : ends -->
            <!-- Table Content Row One : starts -->
            <a class="table-row table-content-row" *ngFor="let m of newSensor">
                <div class="table-cell white-bg">
                    <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">{{m.sensorId}}</p>
                </div>
                <div class="table-cell white-bg">
                    <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">
                        <button mat-icon-button (click)=editSensor(m.sensorId)>
                            <mat-icon color="primary">
                                <i class="material-icons">done</i>
                            </mat-icon>
                        </button>
                        <button mat-icon-button (click)=rejectSensor(m.sensorId)>
                            <mat-icon color="warn">
                                <i class="material-icons">clear</i>
                            </mat-icon>
                        </button>
                    </p>
                </div>
            </a>
            <!-- Table Content Row One : ends -->
        </div>
        <!-- Alert Table : ends -->

    </div>
</div>