<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-wrapper pad50" style="margin-top:10px!important;">
                <div class="title" style="margin-bottom:20px;">
                    <h4 class="font-01 font-size-05 font-weight-600 text-uppercase" style="display:-webkit-inline-box"><span class="font-weight-300">Add</span>  Facility</h4>
                    <div style="float:right">
                            <app-back></app-back>
                        </div>
                </div>
                <form novalidate [formGroup]="facility" (ngSubmit)="onSubmit(facility)">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="group ">
                                <input type="text" required formControlName="name">
                                <span class="highlight"></span>
                                <span class="bar"  [ngClass]="{formError: (!facility.controls.name.valid &&
                                    !facility.controls.name.pristine)}"></span>
                                    <p>Please Enter a Valid Name</p>
                                <label class="font-01 font-size-03 font-weight-600 text-uppercase">Facility Name</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <div formGroupName="client">
                                  <input required formControlName="name" hidden>
                                  <!-- <input required  hidden> -->
                                  <div class=" basic-container">
                                    <mat-form-field>
                                      <mat-select formControlName="id" placeholder="Select Client" (change)="onClientChange($event)">
                                        <mat-option *ngFor="let client of clients" [value]="client.id">
                                          {{ client.name }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>
                        <div class="col-sm-6">
                            <div class="group">
                                <input type="input" formControlName="image" hidden>
                                <input type="input" formControlName="id" hidden>
                                <input type="file" required (change)="getFiles($event)" #fileLogo style="border-bottom:0px">
                                <span class="highlight"></span>
                                <span class="bar" ></span>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="address">
                        <h4 style="margin-bottom:30px" class="font-01 font-size-05 font-weight-600 text-uppercase">Address</h4>
                        <div class="form-group row">
                                <div class="col-sm-12">
                                        <div class="group">
                                                <input type="text"  required formControlName="address1" autocorrect="off" autocapitalize="off" spellcheck="off" #search>
                                            <!-- <input type="text" required formControlName="address1" hidden> -->
                                            <span class="highlight"></span>
                                            <span class="bar" [ngClass]="{formError: (!facility.controls.address.controls.latitude.valid && 
                                                !facility.controls.address.controls.address1.pristine)}"></span>
                                                <p>Please Select Nearest Address from Drop Down</p>
                                            <!-- <label class="font-01 font-size-03 font-weight-600 text-uppercase">Address Line 1</label> -->
                                        </div>
                                    </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="group">
                                    <input type="text" required formControlName="street">
                                    <span class="highlight"></span>
                                    <span class="bar"  [ngClass]="{formError: (!facility.controls.address.controls.street.valid &&
                                        !facility.controls.address.controls.street.pristine)}"></span>
                                        <p>Please Enter a Valid Street Name</p>
                                    <label>Street</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="group">
                                    <input type="text" required formControlName="address2">
                                    <span class="highlight"></span>
                                    <span class="bar"  [ngClass]="{formError: (!facility.controls.address.controls.address2.valid &&
                                        !facility.controls.address.controls.address2.pristine)}"></span>
                                        <p>Please Enter a Valid Address</p>
                                    <label class="font-01 font-size-03 font-weight-600 text-uppercase">Address Line 2</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="group">
                                    <input type="text" required formControlName="country">
                                    <span class="highlight"></span>
                                    <span class="bar"  [ngClass]="{formError: (!facility.controls.address.controls.country.valid &&
                                        !facility.controls.address.controls.country.pristine)}"></span>
                                        <p>Please Enter a Valid Country Name</p>
                                    <label class="font-01 font-size-03 font-weight-600 text-uppercase">Country</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="group">
                                    <input type="text" required formControlName="state">
                                    <span class="highlight"></span>
                                    <span class="bar"  [ngClass]="{formError: (!facility.controls.address.controls.state.valid &&
                                        !facility.controls.address.controls.state.pristine)}"></span>
                                        <p>Please Enter a Valid State Name</p>
                                    <label class="font-01 font-size-03 font-weight-600 text-uppercase">State</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="group">
                                    <input type="text" required formControlName="city">
                                    <span class="highlight"></span>
                                    <span class="bar"  [ngClass]="{formError: (!facility.controls.address.controls.city.valid &&
                                        !facility.controls.address.controls.city.pristine)}"></span>
                                        <p>Please Enter a Valid City Name</p>
                                    <label class="font-01 font-size-03 font-weight-600 text-uppercase">City</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="group">
                                    <input type="text" required formControlName="pinCode">
                                    <span class="highlight"></span>
                                    <span class="bar"  [ngClass]="{formError: (!facility.controls.address.controls.pinCode.valid &&
                                        !facility.controls.address.controls.pinCode.pristine)}"></span>
                                        <p>Please Enter a Valid PinCode</p>
                                    <label class="font-01 font-size-03 font-weight-600 text-uppercase">PinCode</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                    <app-submit class="font-01 font-02" [disabbleBtn]="!facility.valid"></app-submit>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <p>Form value: {{ facility.value | json }}</p>
    </div>
</div>