<!-- Preloader -->
<div id="preloader">
    <div id="status"></div>
 </div>
 <!-- Master Wrap : starts -->
 <section class="master-wrap light-white-bg">
    <!-- Header : starts -->
    <header class="header white-bg">
       <!-- Nav Trigger -->
       <div class="nav-trigger">
          <a href="#">
          <img src="assets/images/logo.svg" alt="nav-trigger"/>
          </a>
       </div>
       <div class="header-inner">
          <!-- Nav : starts -->
          <nav class="nav white-bg">
             <ul>
                <!-- Nav Item 01 -->
                <li>
                   <a routerLink="" title="Mission Control" class="font-size-03 font-02 font-weight-500 light-black active">
                   <span class="nav-menu-icon">
                   <img class="svg-convert" src="assets/images/header/nav-menu-icon-01.svg" alt="menu-icon">
                   </span>
                   <span class="nav-menu-text">
                   Mission Control
                   </span>
                   </a>
                </li>
                <!-- Nav Item 02 -->
                <li class="has-dropdown">
                   <a href="#" title="Clients" class="font-size-03 font-02 font-weight-500 light-black">
                   <span class="nav-menu-icon">
                   <img class="svg-convert" src="assets/images/header/nav-menu-icon-02.svg" alt="menu-icon">
                   </span>
                   <span class="nav-menu-text">
                   Clients
                   </span>
                   </a>
                   <!-- Dropdown -->
                   <ul class="dropdown light-blue">
                      <li>
                         <a routerLink="Client" class="font-size-02 font-02 font-weight-500">Client Stack</a>
                      </li>
                      <li>
                         <a href="#" class="font-size-02 font-02 font-weight-500">Add New Client</a>
                      </li>
                      <li>
                         <a href="#" class="font-size-02 font-02 font-weight-500">Add New Facility</a>
                      </li>
                      <li>
                         <a href="#" class="font-size-02 font-02 font-weight-500">Manage Surveys</a>
                      </li>
                   </ul>
                </li>
                <!-- Nav Item 03 -->
                <li class="has-dropdown">
                   <a href="#" title="Field Agents" class="font-size-03 font-02 font-weight-500 light-black">
                   <span class="nav-menu-icon">
                   <img class="svg-convert" src="assets/images/header/nav-menu-icon-03.svg" alt="menu-icon">
                   </span>
                   <span class="nav-menu-text">
                   Field Agents
                   </span>
                   </a>
                   <!-- Dropdown -->
                   <ul class="dropdown light-blue">
                      <li>
                         <a routerLink="FieldAgent" class="font-size-02 font-02 font-weight-500">Field Agents Stack</a>
                      </li>
                      <li>
                         <a href="#" class="font-size-02 font-02 font-weight-500">Add New Field Agents</a>
                      </li>
                   </ul>
                </li>
                <!-- Nav Item 04 -->
                <li>
                   <a href="#" title="Reports" class="font-size-03 font-02 font-weight-500 light-black">
                   <span class="nav-menu-icon">
                   <img class="svg-convert" src="assets/images/header/nav-menu-icon-04.svg" alt="menu-icon">
                   </span>
                   <span class="nav-menu-text">
                   Reports
                   </span>
                   </a>
                </li>
                <!-- Nav Item 05 -->
                <li>
                   <a href="#" title="Canvas" class="font-size-03 font-03 font-weight-500 light-black">
                   <span class="nav-menu-icon">
                   <img class="svg-convert" src="assets/images/header/nav-menu-icon-05.svg" alt="menu-icon">
                   </span>
                   <span class="nav-menu-text">
                   Canvas
                   </span>
                   </a>
                </li>
                <!-- Nav Item 06 -->
                <li>
                   <a href="#" title="Central Intelligence" class="font-size-03 font-02 font-weight-500 light-black">
                   <span class="nav-menu-icon">
                   <img class="svg-convert" src="assets/images/header/nav-menu-icon-06.svg" alt="menu-icon">
                   </span>
                   <span class="nav-menu-text">
                   Central Intelligence
                   </span>
                   </a>
                </li>
                <!-- Nav Item 07 -->
                <li>
                   <a href="#" title="Inventory Intel" class="font-size-03 font-02 font-weight-500 light-black">
                   <span class="nav-menu-icon">
                   <img class="svg-convert" src="assets/images/header/nav-menu-icon-07.svg" alt="menu-icon">
                   </span>
                   <span class="nav-menu-text">
                   Inventory Intel
                   </span>
                   </a>
                </li>
             </ul>
          </nav>
          <!-- Nav : ends -->
          <!-- Text Logo -->
          <div class="text-logo"><a href="#"><img src="assets/images/text-logo.svg" alt="nav-trigger"/></a></div>
          <!-- Sign Out : starts -->
          <div class="sign-out-block red-bg">
             <a href="#" title="Sign Out">
             <span class="sign-out-icon">
             <img src="assets/images/header/sign-out-icon.svg" class="svg-convert" alt="icon">
             </span>
             <span class="sign-out-text white font-02 font-weight-500">Sign Out</span>
             </a>
          </div>
          <!-- Sign Out : ends -->
       </div>
    </header>
    <!-- Header : ends -->
    <!-- Top Bar : starts -->
    <section class="top-bar blue-bg">
       <!-- Left Area : starts -->
       <div class="left-area">
          <!-- Block 01 -->
          <div class="user-name-block">
             <div class="pos-center-wrap">
                <div class="pos-center">
                   <p class="inner font-02 font-size-03 font-weight-300 white">
                      <span class="welcome-text">Hey,</span>
                      <span class="user-name font-weight-600">Mathew K</span>
                   </p>
                </div>
             </div>
          </div>
          <!-- Block 02 -->
          <div class="quick-picks-block">
             <div class="quick-picks-block-inner">
                <div class="pos-center-wrap">
                   <div class="pos-center">
                      <p class="inner font-02 font-size-03 font-weight-600 white">
                         <span class="icon"><img src="assets/images/header/icon-quick-picks.svg" alt="icon"></span>
                         <span class="title">Quick Picks</span>
                         <span class="direction-icon fa fa-angle-down white"></span>
                      </p>
                   </div>
                </div>
             </div>
             <!-- Dropdown -->
             <div class="quick-picks-dropdown dark-blue-bg">
                <div class="quick-picks-dropdown-inner">
                   <a href="single-fieldtech.html" class="item text-center field-tech-activity-report">
                      <img class="icon svg-convert" src="assets/images/quick-picks/icon-01.svg" alt="icon">
                      <h4 class="title font-size-03 font-01 font-weight-600 white">Field Tech Activity Report</h4>
                   </a>
                   <a href="single-facility.html" class="item text-center field-tech-performance">
                      <img class="icon svg-convert" src="assets/images/quick-picks/icon-02.svg" alt="icon">
                      <h4 class="title font-size-03 font-01 font-weight-600 white">Nestle Tokyo Facility</h4>
                   </a>
                   <a href="single-customer.html" class="item text-center customer-review-report">
                      <img class="icon svg-convert" src="assets/images/quick-picks/icon-03.svg" alt="icon">
                      <h4 class="title font-size-03 font-01 font-weight-600 white">Nestle Japan Client</h4>
                   </a>
                </div>
             </div>
          </div>
          <!-- Block 03 -->
          <div class="language-switcher-block has-dropdown">
             <div class="language-switcher-block-inner">
                <div class="pos-center-wrap">
                   <div class="pos-center">
                      <p class="inner font-02 font-size-03 font-weight-600 white">
                         <span class="icon"><img src="assets/images/header/icon-language.svg" alt="icon"></span>
                         <span class="title">Language</span>
                         <span class="direction-icon fa fa-angle-down white"></span>
                      </p>
                   </div>
                </div>
             </div>
             <!-- Dropdown -->
             <ul class="dropdown white-bg">
                <li><a href="index.html" class="font-size-02 font-02 font-weight-500 light-black">English</a></li>
                <li><a href="index-jp.html" class="font-size-02 font-02 font-weight-500 light-black">Japanese</a></li>
             </ul>
          </div>
       </div>
       <!-- Left Area : ends -->
       <!-- Right Area : starts -->
       <div class="right-area">
          <!-- Block 04 -->
          <div class="date-block">
             <div class="pos-center-wrap">
                <div class="pos-center">
                   <p class="inner font-02 font-size-03 font-weight-600 white" style="margin-top:0px">
                      <span class="icon"><img src="assets/images/header/icon-date-time.svg" alt="icon"></span>
                      <span class="title">15<sup>th</sup> November, 2017</span>
                   </p>
                </div>
             </div>
          </div>
          <!-- Block 05 -->
          <div class="events-block">
             <div class="pos-center-wrap">
                <div class="pos-center">
                   <a href="#" class="inner font-02 font-size-03 font-weight-600 white">
                   <span class="icon"><img src="assets/images/header/icon-events.svg" alt="icon"></span>
                   <span class="title font-size-03">Events</span>
                   <span class="count font-size-01 red-bg">5</span>
                   </a>
                </div>
             </div>
          </div>
          <!-- Block 06 -->
          <div class="notification-block">
             <div class="pos-center-wrap">
                <div class="pos-center">
                   <a href="#" class="inner font-02 font-size-03 font-weight-600 white">
                   <span class="icon"><img src="assets/images/header/icon-notifications.svg" alt="icon"></span>
                   <span class="title font-size-03">Notification</span>
                   <span class="count font-size-01 green-bg">15</span>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- Right Area : ends -->
    <!-- </section>-->
    <!-- Container: starts -->
   
          <router-outlet></router-outlet>
            <!-- Notification Page : starts -->
            <section class="notifications-page full-width">
                <div class="row no-gutters">
                    <div class="col-md-6">

						<!-- Notifications Count Block : starts -->
                        <div class="notifications-count-block full-height text-center">
                            <div class="pos-center-wrap">
                                <div class="pos-center">
                                    <div class="icon-wrap green-bg">
                                        <div class="pos-center-wrap">
                                            <div class="pos-center">
                                                <div class="icon">
                                                    <img src="assets/images/icon-notifications.svg" alt="icon">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

									<!-- Notifications Count : starts  -->
                                    <div class="notifications-count">
                                        <ul>
                                            <li>
                                                <span class="title font-size-06 font-01 white font-weight-600">Unassigned</span>
                                                <span class="count font-size-07 font-01 white font-weight-300">25</span>
                                            </li>
                                            <li>
                                                <span class="title font-size-06 font-01 white font-weight-600">Assigned</span>
                                                <span class="count font-size-07 font-01 white font-weight-300">15</span>
                                            </li>
                                            <li>
                                                <span class="title font-size-06 font-01 white font-weight-600">Shared</span>
                                                <span class="count font-size-07 font-01 white font-weight-300">02</span>
                                            </li>
                                            <li>
                                                <span class="title font-size-06 font-01 white font-weight-600">My Alerts</span>
                                                <span class="count font-size-07 font-01 white font-weight-300">15</span>
                                            </li>
                                        </ul>
                                    </div>
									<!-- Notifications Count : ends  -->

									<!-- Button Block -->
									<div class="buttons-block">
										<div class="button round-button hover-green">
											<a href="#" class="font-01 font-size-01 grey font-weight-600">Clear</a>
										</div>
										<div class="button round-button hover-green">
											<a href="#" class="font-01 font-size-01 grey font-weight-600">View All Alerts</a>
										</div>
									</div>

								</div>
                            </div>
                        </div>
						<!-- Notifications Count Block : ends -->

					</div>
                    <div class="col-md-6">

						<!-- Notifications List Block : starts -->
                        <div class="notifications-list-block full-height">

							<!-- Page Title -->
                            <div class="page-title green-bg">
                                <h1 class="font-01 white font-size-07 font-weight-600"><span class="font-weight-300">System</span> Notification</h1>
                            </div>
                            <div>
                                <a class="page-close" href="#">
                                    <img src="assets/images/close-button.svg" alt="">
                                </a>
                            </div>

                            <!-- Grid Container Wrap : starts -->
                            <div class="grid-container-wrap">

                                <!-- Grid Container : starts -->
                                <div class="grid-container">

                                    <!-- Grid : starts -->
                                    <div id="notification-grid" class="grid shuffle-grid text-center white-bg notification-grid" data-col-no="1" data-gutter="">

										<!-- Notificaation-01 -->
										<div class="shuf-item sizer" data-groups='["all","category-2"]'>
                                            <a href="#" class="survey-notification clearfix">
												<div class="icon">
                                                	<img src="assets/images/notifications/survey-notification.svg" class="svg-convert" alt="">
												</div>
												<div class="notification-message font-01 font-weight-400 light-grey font-size-06">
													<span class="message font-01 font-weight-600 light-blue font-size-06">John Smith</span> from
													<span class="font-01 gold font-weight-600 font-size-06">Nestle</span>
													<span class="font-size-06 font-01 font-weight-400 light-black">has send you a message</span>
												</div>
                                            </a>
                                        </div>

										<!-- Notificaation-02 -->
										<div class="shuf-item sizer" data-groups='["all","category-3"]'>
                                            <a href="#" class="notification clearfix">
                                                <div class="left-block text-right">
                                                    <div class="icon-wrap green-bg">
                                                        <div class="pos-center-wrap">
                                                            <div class="pos-center">
                                                                <div class="icon rat">
                                                                    <img class="svg-convert" src="assets/images/bugs-pests/icon-rat.svg" alt="">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <span class="id">
                                                        <h4 class="green font-01 font-weight-400 text-uppercase">#S12000</h4>
                                                    </span>
                                                </div>
                                                <div class="right-block text-left">
                                                    <div class="notification-message">
                                                        <span class="message font-01 font-weight-400 light-black font-size-04">
                                                            RAT Movement detected on
                                                        </span>
                                                        <span class="id green font-01 font-weight-700">
                                                            Nestle Flower Gate
                                                        </span>
                                                    </div>
                                                    <div class="time">
                                                        <p class="font-01 font-weight-400 light-grey font-size-03">
                                                            9.28Am  +5.30GMT , 20 Nov,17
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

										<!-- Notificaation-03 -->
										<div class="shuf-item sizer" data-groups='["all","category-2"]'>
                                            <a href="#" class="survey-notification clearfix">
												<div class="icon">
                                                	<img src="assets/images/notifications/survey-notification.svg" class="svg-convert" alt="">
												</div>
												<div class="notification-message font-01 font-weight-400 light-grey font-size-06">
													<span class="message font-01 font-weight-600 light-blue font-size-06">John Donald</span>
													<span class="font-01 gold font-weight-600 font-size-06"></span>
													<span class="font-size-06 font-01 font-weight-400 light-black">shared a chart with you</span>
												</div>
                                            </a>
                                        </div>

										<!-- Notificaation-04 -->
                                        <div class="shuf-item sizer" data-groups='["all","category-1"]'>
                                            <a href="#" class="notification clearfix">
                                                <div class="left-block text-right">
                                                    <div class="icon-wrap green-bg">
                                                        <div class="pos-center-wrap">
                                                            <div class="pos-center">
                                                                <div class="icon">
                                                                    <img class="svg-convert" src="assets/images/bugs-pests/icon-adult-bed-bug.svg" alt="">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <span class="id">
                                                        <h4 class="green font-01 font-weight-400 text-uppercase">#S12790</h4>
                                                    </span>
                                                </div>
                                                <div class="right-block text-left">
                                                    <div class="notification-message">
                                                        <span class="message font-01 font-weight-400 light-black font-size-04">
                                                            ADULT BED BUG detected on
                                                        </span>
                                                        <span class="id green font-01 font-weight-700">
                                                            Hilton Tokyo
                                                        </span>
                                                    </div>
                                                    <div class="time">
                                                        <p class="font-01 font-weight-400 light-grey font-size-03">
                                                            3.55Pm  +5.30GMT , 22 Nov,17
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

										<!-- Notificaation-05 -->
                                        <div class="shuf-item sizer" data-groups='["all","category-2"]'>
                                            <a href="#" class="notification clearfix">
                                                <div class="left-block text-right">
                                                    <div class="icon-wrap green-bg">
                                                        <div class="pos-center-wrap">
                                                            <div class="pos-center">
                                                                <div class="icon">
                                                                    <img class="svg-convert" src="assets/images/bugs-pests/icon-housefly.svg" alt="">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <span class="id">
                                                        <h4 class="green font-01 font-weight-400 text-uppercase">#S12620</h4>
                                                    </span>
                                                </div>
                                                <div class="right-block text-left">
                                                    <div class="alert-message">
                                                        <span class="message font-01 font-weight-400 light-black font-size-04">
                                                            20 BOTTLE FLIES DETECTED
                                                        </span>
                                                        <span class="id green font-01 font-weight-700">
                                                            Nestle flower Gate
                                                        </span>
                                                    </div>
                                                    <div class="time">
                                                        <p class="font-01 font-weight-400 light-grey font-size-03">
                                                            3.45Pm  +5.30GMT , 22 Nov,17
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

										<!-- Notificaation-06 -->
										<div class="shuf-item sizer" data-groups='["all","category-2"]'>
                                            <a href="#" class="survey-notification clearfix">
												<div class="icon">
                                                	<img src="assets/images/notifications/survey-notification.svg" class="svg-convert" alt="">
												</div>
												<div class="notification-message font-01 font-weight-400 light-grey font-size-06">
													<span class="message font-01 font-weight-600 light-blue font-size-06">John Smith</span> from
													<span class="font-01 gold font-weight-600 font-size-06">Nestle</span>
													<span class="font-size-06 font-01 font-weight-400 light-black">Completed Survey</span>
												</div>
                                            </a>
                                        </div>
									</div>
									<!-- Grid : ends -->

								</div>
								<!-- Grid Container : ends -->

                            </div>
							<!-- Grid Container Wrap : ends -->

                        </div>
						<!-- Notifications List Block : ends -->

					</div>
                </div>
            </section>
            <!-- Notification Page : ends -->
             <!-- Sensor Event Page :starts -->
            
			<!-- Sensor Event Page :ends -->
 </section>