	<!-- Fieldtech Pool : starts -->
  <section class="contain-fluid fieldtech-pool">
    <div class="row no-gutters">
      <div class="col-md-12">

        <!-- Content Pane : start -->
        <section class="content-pane-left">
          <div class="inner">
            <div class="row">
              <div class="offset-md-1"></div>
              <div class="col-md-10">
                                <div class="row">

                  <!-- Block Title -->
                                    <div class="block-title">
                        <h4 class="font-01 font-weight-600 font-size-05 text-uppercase"><span class="font-weight-300">Fieldtech </span>Base</h4>
                      </div>

                                </div>
                    <div class="row">

                  <!-- Fieldtech One -->
                  <div class="col-md-3">
                    <a [routerLink]="['./1']" class="fieldtech-box" >
                      <div class="ft_image c1">

                      </div>
                      <div class="ft_info white-bg">
                        <div class="ft_id">
                          FT455
                        </div>
                        <h3 class="font-01 light-black">Jessica <span class="font-02">Joe</span></h3>
                        <h6 class="light-grey">North Carolina, USA</h6>
                      </div>
                      <div class="ft_info_extra white-bg">
                        <div class="rating-block">
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star-half-o"></span>
                          <span class="gold fa fa-star-o"></span>
                        </div>
                        <h5 class="light-black">255 Tasks</h5>
                        <h5 class="light-black">15 Periodic assigments</h5>
                      </div>
                    </a>
                  </div>

                  <!-- Fieldtech Two -->
                  <div class="col-md-3">
                    <div class="fieldtech-box">
                      <div class="ft_image c2">

                      </div>
                      <div class="ft_info">
                        <div class="ft_id">
                          FT855
                        </div>
                        <h3 class="font-01">George <span class="font-02">Doe</span></h3>
                        <h6 class="light-grey">North Carolina, USA</h6>
                      </div>
                      <div class="ft_info_extra">
                        <div class="rating-block">
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star-half-o"></span>
                          <span class="gold fa fa-star-o"></span>
                        </div>
                        <h5>255 Tasks</h5>
                        <h5>15 Periodic assigments</h5>
                      </div>
                    </div>
                  </div>

                  <!-- Fieldtech Three -->
                  <div class="col-md-3">
                    <div class="fieldtech-box">
                      <div class="ft_image c1">

                      </div>
                      <div class="ft_info">
                        <div class="ft_id">
                          FT155
                        </div>
                        <h3 class="font-01">Adam <span class="font-02">Joe</span></h3>
                        <h6 class="light-grey">North Carolina, USA</h6>
                      </div>
                      <div class="ft_info_extra">
                        <div class="rating-block">
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star-half-o"></span>
                          <span class="gold fa fa-star-o"></span>
                        </div>
                        <h5>255 Tasks</h5>
                        <h5>15 Periodic assigments</h5>
                      </div>
                    </div>
                  </div>

                  <!-- Fieldtech Four -->
                  <div class="col-md-3">
                    <div class="fieldtech-box">
                      <div class="ft_image c2">

                      </div>
                      <div class="ft_info">
                        <div class="ft_id">
                          FT155
                        </div>
                        <h3 class="font-01">Adam <span class="font-02">Joe</span></h3>
                        <h6 class="light-grey">North Carolina, USA</h6>
                      </div>
                      <div class="ft_info_extra">
                        <div class="rating-block">
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star-half-o"></span>
                          <span class="gold fa fa-star-o"></span>
                        </div>
                        <h5>255 Tasks</h5>
                        <h5>15 Periodic assigments</h5>
                      </div>
                    </div>
                  </div>
                        </div>
                <div class="row">

                  <!-- Fieldtech Five -->
                  <div class="col-md-3">
                    <div class="fieldtech-box">
                      <div class="ft_image c2">

                      </div>
                      <div class="ft_info">
                        <div class="ft_id">
                          FT455
                        </div>
                        <h3 class="font-01">John <span class="font-02">Donald</span></h3>
                        <h6 class="light-grey">North Carolina, USA</h6>
                      </div>
                      <div class="ft_info_extra">
                        <div class="rating-block">
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star-half-o"></span>
                          <span class="gold fa fa-star-o"></span>
                        </div>
                        <h5>255 Tasks</h5>
                        <h5>15 Periodic assigments</h5>
                      </div>
                    </div>
                  </div>

                  <!-- Fieldtech Six -->
                  <div class="col-md-3">
                    <div class="fieldtech-box">
                      <div class="ft_image c3">

                      </div>
                      <div class="ft_info">
                        <div class="ft_id">
                          FT855
                        </div>
                        <h3 class="font-01">George <span class="font-02">Doe</span></h3>
                        <h6 class="light-grey">North Carolina, USA</h6>
                      </div>
                      <div class="ft_info_extra">
                        <div class="rating-block">
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star-half-o"></span>
                          <span class="gold fa fa-star-o"></span>
                        </div>
                        <h5>255 Tasks</h5>
                        <h5>15 Periodic assigments</h5>
                      </div>
                    </div>
                  </div>

                  <!-- Fieldtech Seven -->
                  <div class="col-md-3">
                    <div class="fieldtech-box">
                      <div class="ft_image c1">

                      </div>
                      <div class="ft_info">
                        <div class="ft_id">
                          FT155
                        </div>
                        <h3 class="font-01">Adam <span class="font-02">Joe</span></h3>
                        <h6 class="light-grey">North Carolina, USA</h6>
                      </div>
                      <div class="ft_info_extra">
                        <div class="rating-block">
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star-half-o"></span>
                          <span class="gold fa fa-star-o"></span>
                        </div>
                        <h5>255 Tasks</h5>
                        <h5>15 Periodic assigments</h5>
                      </div>
                    </div>
                  </div>

                  <!-- Fieldtech Eight -->
                  <div class="col-md-3">
                    <div class="fieldtech-box">
                      <div class="ft_image c3">

                      </div>
                      <div class="ft_info">
                        <div class="ft_id">
                          FT155
                        </div>
                        <h3 class="font-01">Adam <span class="font-02">Joe</span></h3>
                        <h6 class="light-grey">North Carolina, USA</h6>
                      </div>
                      <div class="ft_info_extra">
                        <div class="rating-block">
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star"></span>
                          <span class="gold fa fa-star-half-o"></span>
                          <span class="gold fa fa-star-o"></span>
                        </div>
                        <h5>255 Tasks</h5>
                        <h5>15 Periodic assigments</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Content Pane : ends -->

      </div>
    </div>
  </section>
  <!-- Fieldtech Pool: ends -->