<div class="map-block mission-control-map">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <!-- Map Options Block : starts -->
            <div class="options-button-block map-options-block">
                <div class="options-button">
                    <div class="button round-button hover-blue">
                        <a href="#" class="font-01 font-size-01 text-uppercase light-black font-weight-600">Options</a>
                    </div>
                </div>
                <div class="options-button-expand">
                    <div class="options-button-expand-inner white-bg">
                        <a class="options-button-expand-close red" href="#">
                            <span class="option-icon fa fa-times-circle-o"></span>
                        </a>
                        <ul>
                            <li class="has-dropdown">
                                <a href="#" class="light-grey">
                                    <span class="option-icon fa fa-handshake-o"></span>
                                    <span class="option-text font-size-01">
                                        Clients
                                    </span>
                                </a>
                                <ul class="dropdown">
                                    <li class="font-size-02 font-01" *ngFor="let client of clientsData">
                                        <a (click)="dropDownChange(client.id)">{{client.name}}</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- <li class="has-dropdown select-country">
                                <a href="#" class="light-grey">
                                    <span class="option-icon fa fa-map-marker"></span>
                                    <span class="option-text font-size-01">
                                        States
                                    </span>
                                </a>
                                <ul class="dropdown">
                                    <li class="font-size-02 font-01 ">
                                        <a href="#" data-location-id="US">Osaka</a>
                                    </li>
                                    <li class="font-size-02 font-01 ">
                                        <a href="#" data-location-id="LK">Tokyo</a>
                                    </li>
                                    <li class="font-size-02 font-01 ">
                                        <a href="#" data-location-id="IT">Kobe</a>
                                    </li>
                                    <li class="font-size-02 font-01 ">
                                        <a href="#" data-location-id="GB">Miyazaki</a>
                                    </li>
                                    <li class="font-size-02 font-01 ">
                                        <a href="#" data-location-id="JP">Kumamoto</a>
                                    </li>
                                    <li class="font-size-02 font-01 ">
                                        <a href="#" data-location-id="AE">Kagoshima</a>
                                    </li>
                                    <li class="font-size-02 font-01 ">
                                        <a href="#" data-location-id="IN">Hakkaido</a>
                                    </li>
                                    <li class="font-size-02 font-01 ">
                                        <a href="#" data-location-id="ZA">Fukushima</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="map-zoom-in light-grey">
                                    <span class="option-icon fa fa-search-plus">
                                    </span>
                                    <span class="option-text font-size-01">
                                        Zoom In
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="map-zoom-out light-grey">
                                    <span class="option-icon fa fa-search-minus"></span>
                                    <span class="option-text font-size-01">
                                        Zoom Out
                                    </span>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Map Options Block : ends -->
            <!-- Map -->
            <div class="map" id="mission-control-maps"></div>
        </div>
    </div>
</div>