<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="chart-wrapper pad50">
        <div class="title" style="margin-bottom:20px;">
          <h4 class="font-01 font-size-05 font-weight-600 text-uppercase" style="display:-webkit-inline-box">
            <span *ngIf="!id" class="font-weight-300">Add</span>
            <span *ngIf="id" class="font-weight-300">Edit</span> User</h4>
          <div style="float:right">
            <app-back></app-back>
            <!-- <button class="btn btn-primary" (click)="popToast()">Pop</button> -->
          </div>
        </div>
        <div class="title" style="margin-bottom:20px;" *ngIf="id">
          <h4 class="font-01 font-size-04 font-weight-600 text-uppercase" style="display:-webkit-inline-box">
            <span class="font-weight-600">{{id}}</span>
          </h4>
        </div>

        <form novalidate [formGroup]="user" (ngSubmit)="onSubmit(user)">
          <div class="form-group row">
            <div class="col-sm-4">
              <div class="group ">
                <input type="text" required formControlName="firstName">
                <span class="highlight"></span>
                <span class="bar" [ngClass]="{formError: (!user.controls.firstName.valid &&
                  !user.controls.firstName.pristine)}"></span>
                <p>Please Enter a Valid Name</p>
                <label>First Name</label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="group ">
                <input type="text" required formControlName="lastName">
                <span class="highlight"></span>
                <span class="bar" [ngClass]="{formError: (!user.controls.lastName.valid &&
                  !user.controls.lastName.pristine)}"></span>
                <p>Please Enter a Valid Name</p>
                <label>Last Name</label>
              </div>
            </div>

          </div>
          <div class="form-group row">
            <div class="col-sm-4" *ngIf="!id">
              <div class="group">
                <input type="text" required formControlName="email">
                <span class="highlight"></span>
                <span class="bar" [ngClass]="{formError: (!user.controls.email.valid &&
                  !user.controls.email.pristine)}"></span>
                <p>Please Enter a Valid Email</p>
                <label> Email</label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="group ">
                <input type="text" required formControlName="phoneNo">
                <span class="highlight"></span>
                <span class="bar" [ngClass]="{formError: (!user.controls.phoneNo.valid &&
                  !user.controls.phoneNo.pristine)}"></span>
                <p>Please Enter a Valid Phone No</p>
                <label>Phone No</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <div class=" basic-container">
                <mat-form-field>
                  <mat-select formControlName="role" placeholder="Select User Role">
                    <mat-option value="Admin">Admin </mat-option>
                    <mat-option value="FieldTech">FieldTech </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <!-- *ngIf='user.controls.role.value=="Admin"' -->
              <!-- <ul>
                <li><input type="checkbox">C1</li>
                <ul>
                  <li><input type="checkbox">F1</li>
                  <ul>
                    <li><input type="checkbox">Z1</li>
                    <li><input type="checkbox">Z2</li>
                    <li><input type="checkbox">Z3</li>
                  </ul>
                  <li><input type="checkbox">F2</li>
                  <ul>
                    <li><input type="checkbox">Z1</li>
                    <li><input type="checkbox">Z2</li>
                    <li><input type="checkbox">Z3</li>
                  </ul>
                </ul>
                <li><input type="checkbox">C2</li>
                <ul>
                  <li><input type="checkbox">F1</li>
                  <ul>
                    <li><input type="checkbox">Z1</li>
                    <li><input type="checkbox">Z2</li>
                    <li><input type="checkbox">Z3</li>
                  </ul>
                  <li><input type="checkbox">F2</li>
                  <ul>
                    <li><input type="checkbox">Z1</li>
                    <li><input type="checkbox">Z2</li>
                    <li><input type="checkbox">Z3</li>
                  </ul>
                </ul>
              </ul> -->
              <!-- <ul>
                <li>
                  <input type="checkbox">
                  <label>C</label>
                  <ul>
                    <li>
                      <input type="checkbox">
                      <label>F</label>
                      <ul>
                        <li>
                          <input type="checkbox">
                          <label>Z1</label>
                        </li>
                        <li>
                          <input type="checkbox">
                          <label>Z2</label>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul> *ngFor="let c of clientList; let i = index;"-->

              <div formArrayName="assignedClients">
                <div *ngFor="let client of getClients(user); let i = index;">
                  <div [formGroupName]="i">
                    <input type="text" formControlName="id" hidden> 
                    <input type="text" formControlName="name" hidden>
                    <div formArrayName="facility">
                      <div *ngFor="let f of getFacilities(client); let j = index;">
                        <div [formGroupName]="j">
                          <input type="text" formControlName="id" hidden> 
                          <input type="text" formControlName="name" hidden>
                          <div formArrayName="zone">
                              <div *ngFor="let z of getZones(f); let k = index;">
                                <div [formGroupName]="k">
                                  <input type="text" formControlName="id" hidden> 
                                  <input type="text" formControlName="name" hidden>
                                  <div><input *ngIf="z.controls.name.value!=''" type="checkbox" formControlName="currentStatus">{{z.controls.name.value}} </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <app-submit class="font-01 font-02" [disabbleBtn]="!user.valid"></app-submit>
            </div>
          </div>
        </form>
      </div>

    </div>
    <p>Form value: {{ user.value | json }}</p>
    <p>{{user.valid}}</p>
  </div>
</div>