<app-navbar></app-navbar>
<!-- Header : ends -->
<!-- Top Bar : starts -->
<app-topbar  [newSensors]="newSensors" [events]="events" ></app-topbar>
<!-- Right Area : ends -->
<!-- </section>-->
<!-- Container: starts -->

<router-outlet></router-outlet>
<!-- Notification Page : starts -->
<app-notification [newSensors]="newSensors"></app-notification>
<toast [config]="config"></toast>
<!-- Notification Page : ends -->
<!-- Sensor Event Page :starts -->
<app-events-notification [events]="events" [unAssigned]="unAssigned" [inProgress]="inProgress" [actionRequired]="actionRequired"></app-events-notification>