<section class="contain-fluid single-fieldtech">
  <div class="row no-gutters">
    <div class="col-md-7">

      <!-- Content Pane Left : starts -->
      <section class="content-pane-left add-scroll">
        <div class="inner">
          <div class="row">
            <div class="offset-md-1"></div>
            <div class="col-md-10">

              <!-- Chart Block : starts -->
              <div class="chart-block-wrap chart-wrapper">
                <div class="row">
                  
                      
                    <div class="col-md-12">
                        <div class="title">
                            <h4 class="font-01 font-size-05 font-weight-600 text-uppercase"><span class="font-weight-300">Service</span> Analytics</h4>
                            <div class="switch-facility-button" style="float:right;border: 1px solid #979797;border-radius: 20px;">
                                <div class="button round-button has-dropdown hover-blue switch-button white-bg">
                                  <a href="#" class="font-02 font-size-01 light-black font-weight-400">Options<span class="direction-icon "></span></a>
                                  <ul class="dropdown">
                                    <li><a href="#" class="font-size-02 font-01">Expand</a></li>
                                    <li><a href="#" class="font-size-02 font-01">Date Range</a></li>
                                  </ul>
                                </div>
                              </div>
                          </div>
                        
                    </div>
                
                    
                </div>
                
                <div id="efficiency" class="chart-block" style="width:100%;margin-top:40px"></div>
              </div>
              <!-- Chart Block : ends -->

            </div>
          </div>

          <!-- Alert Table Block : starts -->
          <div class="alert-table-block">
                            <div class="row">
              <div class="offset-md-1"></div>
              <div class="col-md-10">
                                    <div class="alert-table">

                  <!-- Title -->
                                        <div class="title">
                    <h4 class="font-01 font-size-05 font-weight-600 text-uppercase"><span class="font-weight-300">Latest</span> Alerts</h4>
                                        </div>

                  <!-- Alert Table : starts -->
                  <div class="table">

                    <!-- Table Head Row : starts -->
                      <div class="table-row table-head-row">
                          <div class="table-cell">
                            <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">ID</h4>
                          </div>
                          <div class="table-cell">
                            <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Alert Name</h4>
                          </div>
                          <div class="table-cell">
                            <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Facility Name</h4>
                          </div>
                      <div class="table-cell">
                            <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Alert Status</h4>
                          </div>
                      <div class="table-cell">
                            <h4 class="table-head font-01 font-size-02 light-grey font-weight-400">Latest Update</h4>
                          </div>
                      </div>
                    <!-- Table Head Row : ends -->

                    <!-- Table Content Row One : starts -->
                    <a href="single-alert-rat.html" class="table-row table-content-row" >
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">S12000</p>
                      </div>
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">Rat Detected</p>
                      </div>
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">Nestle Flower Gate</p>

                        <!-- Hover Block : starts -->
                        <div class="hover-block-wrap">
                          <div class="alert-table-hover-block white-bg clearfix">
                            <div class="left-block">
                              <div class="content">
                                <div class="icon-wrap red-bg">
                                  <img class="svg-convert rat" src="assets/images/bugs-pests/icon-rat.svg" alt="">
                                </div>
                                <div class="trap-name">
                                  <h5 class="font-01 font-size-05 font-weight-600 light-black text-uppercase">Rat Trap</h5>
                                </div>
                              </div>
                            </div>
                            <div class="right-block">
                              <div class="pos-center-wrap">
                                <div class="pos-center">
                                  <div class="sensor-alert-id">
                                    <h5 class="text-uppercase font-01 light-blue font-weight-700">#S12000</h5>
                                  </div>
                                  <div class="sensor-alert-message">
                                    <p class="light-black font-01 font-size-03 font-weight-400">
                                      Nov 19th 4:37pm - added by James Milton - assigned to John since Michael was not available
                                    </p>
                                  </div>
                                  <div class="facility-details">
                                    <h5 class="title light-grey font-size-02 font-weight-400 font-01 font-01">Sensor Name</h5>
                                    <h4 class="name light-black text-uppercase font-01">Rat sensor 1 - N side</h4>
                                  </div>
                                  <div class="zone-details">
                                    <h5 class="title light-grey font-size-02 font-weight-400 font-01 font-01">Zone Name</h5>
                                    <h4 class="name light-black text-uppercase font-01 font-size-05">Food storage 1</h4>
                                  </div>
                                  <div class="fieldtech-details">
                                    <h5 class="title light-grey font-size-02 font-weight-400 font-01">Assigned Fieldtech</h5>
                                    <h4 class="name light-black text-uppercase font-size-05 font-weight-400 font-01">John Smith</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Hover Block : ends -->

                      </div>
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">In progress</p>
                      </div>
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">Nov 20th 9:28am</p>
                      </div>
                    </a>
                    <!-- Table Content Row One : ends -->

                    <!-- Table Content Row Two : starts -->
                    <a href="#" class="table-row table-content-row">
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">S12790</p>
                      </div>
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">Adult bed bug Detected</p>
                      </div>
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">Hilton Tokyo</p>

                        <!-- Hover Block : starts -->
                        <div class="hover-block-wrap">
                          <div class="alert-table-hover-block white-bg clearfix">
                            <div class="left-block">
                              <div class="content">
                                <div class="icon-wrap red-bg">
                                  <img class="svg-convert" src="assets/images/bugs-pests/icon-adult-bed-bug.svg" alt="">
                                </div>
                                <div class="trap-name">
                                  <h5 class="font-01 font-size-05 font-weight-600 light-black text-uppercase">Adult Bed Bug Trap</h5>
                                </div>
                              </div>
                            </div>
                            <div class="right-block">
                              <div class="pos-center-wrap">
                                <div class="pos-center">
                                  <div class="sensor-alert-id">
                                    <h5 class="text-uppercase font-01 light-blue font-weight-700">#S12790</h5>
                                  </div>
                                  <div class="sensor-alert-message">
                                    <p class="light-black font-01 font-size-03 font-weight-400">
                                    </p>
                                  </div>
                                  <div class="facility-details">
                                    <h5 class="title light-grey font-size-02 font-weight-400 font-01 font-01">Sensor Name</h5>
                                    <h4 class="name light-black text-uppercase font-01">Adult Bed Bug Sensor 1 - under bed SW corner</h4>
                                  </div>
                                  <div class="zone-details">
                                    <h5 class="title light-grey font-size-02 font-weight-400 font-01 font-01">Zone Name</h5>
                                    <h4 class="name light-black text-uppercase font-01 font-size-05">Room 1284</h4>
                                  </div>
                                  <div class="fieldtech-details">
                                    <h5 class="title light-grey font-size-02 font-weight-400 font-01">Assigned Fieldtech</h5>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Hover Block : ends -->

                      </div>
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">Open</p>
                      </div>
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">Nov 22nd 3:55pm</p>
                      </div>
                    </a>
                    <!-- Table Content Row Two : ends -->

                    <!-- Table Content Row Three : starts -->
                    <a href="single-alert-bottle-fly.html" class="table-row table-content-row" >
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">S12620</p>
                      </div>
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">20 Bottle flies Detected</p>
                      </div>
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">Nestle Flower Gate</p>

                        <!-- Hover Block : starts -->
                        <div class="hover-block-wrap">
                          <div class="alert-table-hover-block white-bg clearfix">
                            <div class="left-block">
                              <div class="content">
                                <div class="icon-wrap red-bg">
                                  <img class="svg-convert" src="assets/images/bugs-pests/icon-bottle-fly.svg" alt="">
                                </div>
                                <div class="trap-name">
                                  <h5 class="font-01 font-size-05 font-weight-600 light-black text-uppercase">Bottle Fly Trap</h5>
                                </div>
                              </div>
                            </div>
                            <div class="right-block">
                              <div class="pos-center-wrap">
                                <div class="pos-center">
                                  <div class="sensor-alert-id">
                                    <h5 class="text-uppercase font-01 light-blue font-weight-700">#S12620</h5>
                                  </div>
                                  <div class="sensor-alert-message">
                                    <p class="light-black font-01 font-size-03 font-weight-400">
                                      Nov 22nd 3:45pm - added by Jesse Moya - Saw a large increase in bottle flies on glue board. Replaced glue board. Found broken window causing the problem. Escalated to FM team to fix
                                    </p>
                                  </div>
                                  <div class="facility-details">
                                    <h5 class="title light-grey font-size-02 font-weight-400 font-01 font-01">Sensor Name</h5>
                                    <h4 class="name light-black text-uppercase font-01">Bottle Fly Sensor 3 - E corner</h4>
                                  </div>
                                  <div class="zone-details">
                                    <h5 class="title light-grey font-size-02 font-weight-400 font-01 font-01">Zone Name</h5>
                                    <h4 class="name light-black text-uppercase font-01 font-size-05">Main atrium</h4>
                                  </div>
                                  <div class="fieldtech-details">
                                    <h5 class="title light-grey font-size-02 font-weight-400 font-01">Assigned Fieldtech</h5>
                                    <h4 class="name light-black text-uppercase font-size-05 font-weight-400 font-01">Jesse Moya</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Hover Block : ends -->

                      </div>
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">Further action required</p>
                      </div>
                      <div class="table-cell white-bg">
                        <p class="table-cell-content font-01 font-size-02 font-weight-400 light-black">Nov 22nd 3:45 pm</p>
                      </div>
                    </a>
                    <!-- Table Content Row Three : ends -->

                  </div>
                  <!-- Alert Table : ends -->

                </div>
                                </div>
                            </div>
                        </div>
          <!-- Alert Table Block : ends -->

          <div class="row">
            <div class="offset-md-1"></div>
            <div class="col-md-10">

              <!-- Chart Block : starts -->
              <div class="chart-block-wrap space-top chart-wrapper">
                <div class="row">
                  <div class="col-md-12">
                  <div class="title">
                  <h4 class="font-01 font-size-05 font-weight-600 text-uppercase"><span class="font-weight-300">Sensor</span> Maintainace</h4>
                  <div class="switch-facility-button" style="float:right;border: 1px solid #979797;border-radius: 20px;">
                      <div class="button round-button has-dropdown hover-blue switch-button white-bg">
                        <a href="#" class="font-02 font-size-01 light-black font-weight-400">Options<span class="direction-icon "></span></a>
                        <ul class="dropdown">
                          <li><a href="#" class="font-size-02 font-01">Expand</a></li>
                          <li><a href="#" class="font-size-02 font-01">Date Range</a></li>
                        </ul>
                      </div>
                    </div>
                </div>
                  </div>
                </div>
                
              
                <div id="sMaintainance2" class="chart-block" style="width:100%;height:600px"></div>
              </div>
              <!-- Chart Block : ends -->

            </div>
          </div>
        </div>
      </section>
      <!-- Content Pane Left : ends -->

    </div>
    <div class="col-md-5">

      <!-- Content Pane Right : starts -->
      <div class="content-pane-right white-bg add-scroll">
        <div class="inner">

          <!-- Fieldtech Details : starts -->
          <div class="fieldtech-details text-center">
            <div class="row">
              <div class="offset-md-1"></div>
              <div class="col-md-4">
                <div class="fieldtech-image" ></div>
              </div>
              <div class="col-md-6">
                <div class="fieldtech-info text-left">
                  <div class="fieldtech-id">
                    <h4 class="font-01 font-weight-700 font-size-06 purple">#FT455</h4>
                  </div>
                  <div class="fieldtech-name">
                    <h3 class="font-01 font-07 font-weight-300 light-black">Jessica <span class="font-weight-700">Joe</span></h3>
                  </div>
                  <div class="fieldtech-location">
                    <h6 class="font-01 font-size-05 font-weight-300 light-grey">North Carolina, USA</h6>
                  </div>
                  <div class="fieldtech-phone">
                    <span class="font-size-05 light-grey fa fa-phone-square"></span>
                    <a href="tel:+03 1255 15020" class="light-black font-01 font-size-05 font-weight-300">+03 1255 15020</a>
                  </div>
                  <div class="rating-block">
                    <span class="light-black font-01 font-size-01 font-weight-300">Rating</span>
                    <span class="gold fa fa-star"></span>
                    <span class="gold fa fa-star"></span>
                    <span class="gold fa fa-star"></span>
                    <span class="gold fa fa-star-half-o"></span>
                    <span class="gold fa fa-star-o"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Fieldtech Extra Options : starts -->
          <div class="extra-options-trigger-wrap text-center">
            <a href="#" class="mail extra-options-trigger light-black white-bg">
              <div class="pos-center-wrap">
                <div class="pos-center">
                  <span class="icon light-black fa fa-square-o"></span>
                </div>
              </div>
            </a>
            <a href="#" class="user extra-options-trigger light-black white-bg">
              <div class="pos-center-wrap">
                <div class="pos-center">
                  <span class="icon light-black fa fa-map-marker"></span>
                </div>
              </div>
            </a>
            <a href="#" class="settings extra-options-trigger light-black white-bg active">
              <div class="pos-center-wrap">
                <div class="pos-center">
                  <span class="icon light-black fa fa-cog"></span>
                </div>
              </div>
            </a>
            <div class="seperator-line grey-bg"></div>
          </div>
          <!-- Fieldtech Extra Options : ends -->

          <!-- Fieldtech Assignments Block : starts -->
          <div class="fieldtech-assignments-block">

            <!-- Title -->
            <div class="title">
              <h4 class="text-uppercase font-01 font-size-05 medium-black font-weight-600"><span class="font-weight-300">Latest </span>Assignments</h4>
            </div>
            <a href="#" class="fieldtech-notification clearfix">
              <div class="icon">
                <img src="assets/images/fieldtechs/task-completed.svg" class="svg-convert" alt="">
              </div>
              <div class="notification-message font-01">
                <h4 class="font-size-05 light-black font-01 font-weight-400">Rat sensor 1 - N side - Hilton Tokyo</h4>
                <h5 class="font-size-02 light-black font-01 font-weight-300">Procedure Time: 45 min (12% Faster than average)</h5>
              </div>
            </a>
            <a href="#" class="fieldtech-notification clearfix">
              <div class="icon">
                <img src="assets/images/fieldtechs/task-completed.svg" class="svg-convert" alt="">
              </div>
              <div class="notification-message font-01">
                <h4 class="font-size-05 light-black font-01 font-weight-400">Rat sensor 1 - N side - Hilton Tokyo</h4>
                <h5 class="font-size-02 light-black font-01 font-weight-300">Procedure Time: 45 min (12% Faster than average)</h5>
              </div>
            </a>
          </div>
          <!-- Fieldtech Assignments Block : ends -->

        </div>
      </div>
      <!-- Content Pane Right : ends -->

    </div>
          </div>
      </section>
