<section class="contain-fluid single-facility">
    <div class="row no-gutters">
        <div class="col-md-7">
            <!-- Content Pane Left : starts -->
            <section class="content-pane-left ">
                <div class="inner">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <!-- Block Title -->
                            <div class="block-title">
                                <h4 class="font-01 font-size-05 font-weight-600 text-uppercase"><span class="font-weight-300">Mission </span>Control</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Map Block : starts -->
                    <div class="map-block mission-control-map">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <!-- Map Options Block : starts -->
                                <div class="options-button-block map-options-block">
                                    <div class="options-button">
                                        <div class="button round-button hover-blue">
                                            <a href="#" class="font-01 font-size-01 text-uppercase light-black font-weight-600">Options</a>
                                        </div>
                                    </div>
                                    <div class="options-button-expand">
                                        <div class="options-button-expand-inner white-bg">
                                            <a class="options-button-expand-close red" href="#">
                                                <span class="option-icon fa fa-times-circle-o"></span>
                                            </a>
                                            <ul>
                                                <li class="has-dropdown">
                                                    <a href="#" class="light-grey">
                                                        <span class="option-icon fa fa-handshake-o"></span>
                                                        <span class="option-text font-size-01">
                            Clients
                            </span>
                                                    </a>
                                                    <ul class="dropdown">
                                                        <li class="font-size-02 font-01"><a href="#">Nestle</a>
                                                        </li>
                                                        <li class="font-size-02 font-01"><a href="#">Hilton</a>
                                                        </li>
                                                        <li class="font-size-02 font-01"><a href="#">Yoshinoya</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-dropdown select-country">
                                                    <a href="#" class="light-grey">
                                                        <span class="option-icon fa fa-map-marker"></span>
                                                        <span class="option-text font-size-01">
                            States
                            </span>
                                                    </a>
                                                    <ul class="dropdown">
                                                        <li class="font-size-02 font-01 "><a href="#" data-location-id="US">Osaka</a>
                                                        </li>
                                                        <li class="font-size-02 font-01 "><a href="#" data-location-id="LK">Tokyo</a>
                                                        </li>
                                                        <li class="font-size-02 font-01 "><a href="#" data-location-id="IT">Kobe</a>
                                                        </li>
                                                        <li class="font-size-02 font-01 "><a href="#" data-location-id="GB">Miyazaki</a>
                                                        </li>
                                                        <li class="font-size-02 font-01 "><a href="#" data-location-id="JP">Kumamoto</a>
                                                        </li>
                                                        <li class="font-size-02 font-01 "><a href="#" data-location-id="AE">Kagoshima</a>
                                                        </li>
                                                        <li class="font-size-02 font-01 "><a href="#" data-location-id="IN">Hakkaido</a>
                                                        </li>
                                                        <li class="font-size-02 font-01 "><a href="#" data-location-id="ZA">Fukushima</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#" class="map-zoom-in light-grey">
                                                        <span class="option-icon fa fa-search-plus">
                            </span>
                                                        <span class="option-text font-size-01">
                            Zoom In
                            </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="map-zoom-out light-grey">
                                                        <span class="option-icon fa fa-search-minus"></span>
                                                        <span class="option-text font-size-01">
                            Zoom Out
                            </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Map Options Block : ends -->
                                <!-- Map -->
                                <div class="map" id="mission-control-maps"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Map Block : ends -->
                    <!-- Info Bubble Block : starts -->
                    <div class="info-bubble-block">
                        <div class="container">
                                <div class="row">
                                        <div class="col-md-1 .offset-md-1"></div>
                                        <!-- Bubble One -->
                                        <div class="col-md-2 col-sm-2 col-2 tableCus">
                                            <div class="info-bubble info-bubble-one text-right">
                                                <div class="info-bubble-image">
                                                    <img class="svg-convert" src="assets/images/info-bubble/icon-01.svg" alt="info-bubble">
                                                    <div class="count-to-wrap">
                                                        <p class="font-size-02"><span class="count-to font-weight-400 font-01" data-from="0" data-to="5"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="info-bubble-text">
                                                    <h5 class="font-02 font-weight-400 font-size-02 light-black">Active Alerts</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Bubble Two -->
                                        <div class="col-md-2 col-sm-2 col-2 tableCus">
                                            <div class="info-bubble info-bubble-two text-right">
                                                <div class="info-bubble-image">
                                                    <img class="svg-convert" src="assets/images/info-bubble/icon-02.svg" alt="info-bubble">
                                                    <div class="count-to-wrap">
                                                        <p class="font-size-02"><span class="count-to font-weight-400 font-01" data-from="0" data-to="-82"></span>%</p>
                                                    </div>
                                                </div>
                                                <div class="info-bubble-text">
                                                    <h5 class="font-02 font-weight-400 font-size-02 light-black">Change in pest activity - last 30 days</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Bubble Three -->
                                        <div class="col-md-2 col-sm-2 col-2 tableCus">
                                            <div class="info-bubble info-bubble-three text-right">
                                                <div class="info-bubble-image">
                                                    <img class="svg-convert" src="assets/images/info-bubble/icon-03.svg" alt="info-bubble">
                                                    <div class="count-to-wrap">
                                                        <p class="font-size-02"><span class="count-to font-weight-400 font-01" data-from="0" data-to="45"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="info-bubble-text">
                                                    <h5 class="font-02 font-weight-400 font-size-02 light-black">Total Events closed over last 30 days</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Bubble Four -->
                                        <div class="col-md-2 col-sm-2 col-2 tableCus">
                                            <div class="info-bubble info-bubble-four text-right">
                                                <div class="info-bubble-image">
                                                    <img class="svg-convert" src="assets/images/info-bubble/icon-04.svg" alt="info-bubble">
                                                    <div class="count-to-wrap">
                                                        <p class="font-size-02"><span class="count-to font-weight-400 font-01" data-from="0" data-to="89"></span>%</p>
                                                    </div>
                                                </div>
                                                <div class="info-bubble-text">
                                                    <h5 class="font-02 font-weight-400 font-size-02 light-black">Customer satisfation</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Bubble Five -->
                                        <div class="col-md-2 col-sm-2 col-2 tableCus">
                                            <div class="info-bubble info-bubble-five text-right">
                                                <div class="info-bubble-image">
                                                    <img class="svg-convert" src="assets/images/info-bubble/icon-05.svg" alt="info-bubble">
                                                    <div class="count-to-wrap">
                                                        <p class="font-size-02"><span class="count-to font-weight-400 font-01" data-from="0" data-to="15"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="info-bubble-text">
                                                    <h5 class="font-02 font-weight-400 font-size-02 light-black">Properties</h5>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                        </div>
                       
                    </div>
                    <!-- Info Bubble Block : ends -->
                    <!-- Alert Table Block : starts -->
                    <div class="alert-table-block">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                               <!-- Insert Latest Alerts here -->
                               <app-latest-alerts [alerts]="alerts"></app-latest-alerts>
                               <!-- Ends -->
                            </div>
                        </div>
                    </div>
                    <!-- Alert Table Block : ends -->
                </div>
            </section>
        </div>
        <div class="col-md-5">
            <!-- Content Pane Right : starts -->
            <div class="content-pane-right white-bg add-scroll">
                <div class="inner">
                    <!-- Pest Vs Facility Block : starts -->
                    <div class="chart-block-wrap">
                        <!-- Title -->
                        <div class="title">
                            <h4 class="font-01 font-size-05 font-weight-600 text-uppercase"><span class="font-weight-300">Pest Activity last 30 days -</span>  Top 10 facilities</h4>
                        </div>
                        <!-- Chart Expand Button -->
                        <!-- <div class="options-button-block">
                <div class="options-button">
                    <div class="button round-button choose-button hover-blue">
                        <a href="#" class="modal-trigger font-01 font-size-01 text-uppercase light-grey font-weight-600"  data-toggle="modal" data-target="#pest-vs-facility-modal">EXPAND
                        <span class="direction-icon fa fa-angle-down"></span></a>
                    </div>
                </div>
                </div> -->
                        <div class="switch-facility-button" style="float:right;border: 1px solid #979797;border-radius: 20px;">
                            <div class="button round-button has-dropdown hover-blue switch-button white-bg">
                                <a href="#" class="font-02 font-size-01 light-black font-weight-400">Options<span class="direction-icon "></span></a>
                                <ul class="dropdown">
                                    <li><a data-toggle="modal" data-target="#pest-vs-facility-modal"class="font-size-02 font-01">Expand</a>
                                    </li>
                                    <li><a href="#" class="font-size-02 font-01">Date Range</a>
                                    </li>
                                    <li><a href="#" class="font-size-02 font-01">No Of Facilities</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Chart Modal -->
                        <div class="modal fade" id="pest-vs-facility-modal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <!-- Pest Vs Facility Popup Chart -->
                                    <div [ng2-highcharts]="optionsPest12"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Pest Vs Facility Chart -->
                        <!-- <div id="pest-vs-facility" class="chart-block"></div> -->
                          <!-- <chart [options]="options">
                         </chart>    -->
                         <div [ng2-highcharts]="optionsPest12" class="chart-block">
                         </div> 
                    </div>
                    <!-- Pest Vs Facility Block : ends -->
                    <!-- Pest Vs Time Block : starts -->
                    <div class="chart-block-wrap space-top">
                        <!-- Title -->
                        <div class="title">
                            <h4 class="font-01 font-size-05 font-weight-600 text-uppercase"><span class="font-weight-300">Pest activity</span> over the last 12 months</h4>
                        </div>
                        <!-- Chart Expand Button -->
                        <!-- <div class="options-button-block">
                <div class="options-button">
                    <div class="button round-button choose-button hover-blue">
                        <a href="#" class="modal-trigger font-01 font-size-01 text-uppercase light-grey font-weight-600"  data-toggle="modal" data-target="#pest-vs-time-modal">EXPAND
                        <span class="direction-icon fa fa-angle-down"></span></a>
                    </div>
                </div>
                </div> -->
                        <div class="switch-facility-button" style="float:right;border: 1px solid #979797;border-radius: 20px;">
                            <div class="button round-button has-dropdown hover-blue switch-button white-bg">
                                <a href="#" class="font-02 font-size-01 light-black font-weight-400">Options<span class="direction-icon "></span></a>
                                <ul class="dropdown">
                                    <li><a data-toggle="modal" data-target="#pest-vs-time-modal" class="font-size-02 font-01">Expand</a>
                                    </li>
                                    <li><a href="#" class="font-size-02 font-01">Date Range</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Chart Modal -->
                        <div class="modal fade" id="pest-vs-time-modal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <!-- Pest Vs Time Popup Chart -->
                                    <div [ng2-highcharts]="optionsPest30"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Pest Vs Time Chart -->
                        <!-- <div id="pest-vs-time" class="chart-block"></div> -->
                        <div [ng2-highcharts]="optionsPest30"></div>
                    </div>
                    <!-- Pest Vs Time Block : ends -->
                    <!-- Task Status Block : starts -->
                    <div class="task-status-block chart-block-wrap space-top">
                        <!-- Title -->
                        <div class="title">
                            <h4 class="font-01 font-size-05 font-weight-600 text-uppercase"><span class="font-weight-300">Task</span> Status</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-4 no-padding">
                                <!-- <div id="task-status-chart-one" class="task-status-chart"></div> -->
                                <div  [ng2-highcharts]="optionsGuage1" class="task-status-chart"></div>
                            </div>  
                            <div class="col-md-4 no-padding">
                                <!-- <div id="task-status-chart-two" class="task-status-chart"></div> -->
                                <div  [ng2-highcharts]="optionsGuage2" class="task-status-chart"></div>
                            </div>
                            <div class="col-md-4 no-padding">
                             <!-- <div id="task-status-chart-three" class="task-status-chart"></div> -->
                                <div  [ng2-highcharts]="optionsGuage3" class="task-status-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Task Status Block : ends -->
                </div>
            </div>
            <!-- Content Pane Right : ends -->
        </div>
    </div>
</section>